#side{
    height: 100%;
    width: 100px;
    border-right: 1px solid black;
    position: fixed;
    left: 0%;
    background-color: #BBDEFB;
}

#side>img{
    height: 80px;
    width: 80px;
    transition: 1.3s;
    border-radius: 40px;
	margin-left: 8px;
}

#side>input{
    margin: 10px;
    border-radius: 5px;
    transition: 1.3s;
}

#side>span{
    transition: 2s;
    margin-left: 115px;
    margin-top: 30px;
    
}

.btnForNav {
	width: 80px;
	height: 40px;
	margin-left: 5px;
	margin-top: 30px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	outline:none;
	background-color: white;
	outline:#E0F2F1;
	color: black;
}

a.arrPu{
	background: #EDE7F6;
	transition: .5s;
}
#resDownA:visited #resDownA:active{
	background: rgba(0,0,0,0);
}
#resDownA:hover {
	background: #EDE7F6;
}
.resourceDown {
	background: white;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
#resDown {
	border-radius: 10px;
	background: white;
	text-align: center;	
	margin-left: 5px;
}